.hero-section {
  background: linear-gradient(to right, #004085, #007bff);
  padding: 80px 0;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: bold;
}

.job-slider-section .card {
  border: none;
  border-radius: 15px;
}

.cta-section {
  background-color: #0056b3;
}
